{% extends 'base.html.twig' %}

{% block body %}

    <h1>Contact edit</h1>
    {% form_theme edit_form 'jquery.collection.html.twig' %}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this contact?');">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">

        $('.emails-selector').collection();
        $('.phones-selector').collection();
    </script>
{% endblock %}