{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('notice') %}
    <div class="flash-notice alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    <h1>Contacts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Zip</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone number(s)</th>
                <th>Email(s)</th>
                <th>Date of birth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.zip }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.country }}</td>
                <td>{% if contact.phones|length > 0 %}
                        <ul>
                            {% for phone in contact.phones %}
                                <li>{{ phone.number }} ({{ phone.type }})</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>{% if contact.emails|length > 0 %}
                        <ul>
                            {% for email in contact.emails %}
                                <li>{{ email.address }} ({{ email.type }})</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>{% if contact.dob %}{{ contact.dob|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_new') }}">Create a new contact</a>
        </li>
    </ul>
{% endblock %}
